/* Error: Missing argument $display.
 *    ,--> scss/_principal.scss
 * 37 |         @include disFlex;
 *    |         ^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> scss/config/_mixins.scss
 * 11 | @mixin disFlex ($display,$flex-wrap){
 *    |        ============================= declaration
 *    '
 *   scss/_principal.scss 37:9  disFlex()
 *   scss/_principal.scss 37:9  @import
 *   scss/main.scss 10:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $display.\a    \250c \2500 \2500 > scss/_principal.scss\a 37 \2502          @include disFlex;\a    \2502          ^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > scss/config/_mixins.scss\a 11 \2502  @mixin disFlex ($display,$flex-wrap){\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   scss/_principal.scss 37:9  disFlex()\a   scss/_principal.scss 37:9  @import\a   scss/main.scss 10:9        root stylesheet";
}
