*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

header {
    display: flex;
    grid-area: header;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
    display: flex;
    flex-wrap: wrap;
}

footer{
    grid-area: footer;
}

.w-img{
    width: 120px;
    padding-left: 5px;
}

.m-img{
    width: 70px;
    padding-left: 5px;
}

.cont-menu{
    width: 100%;
    display: flex;
    background-color: #090a0a;
}

.nav-p{
    display: flex;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.menu-current{
    text-decoration: underline;
    color: #f6f6f8;
}

.menu li{
    list-style: none;
}
.menu-other{
    text-decoration: none;
    color: #f6f6f8;
}

.bg-banner{
    background-image: url('../assets/imagenGrande.jpg');
    background-position: top;
    background-size: cover;
    height: 300px;

}

.title-primary{
    color: #f0edede0;
    font-size: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-second{
    margin: 1em;
    text-align: center;
    font-size: 1.5em;
    
}
.m-top{
    margin-top: 1em;
}

.m-bottom{
    margin-bottom: 1em;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.contenedor-card{
    width: 15em;
    border-radius: 16px;
    border: 1px solid #28d6f1;
    overflow: hidden;
}

.contenedor-card img{
    width: 100%;
    height:10em;
    overflow: hidden;
    object-fit:cover;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #28d6f1;
}

.card.reverse {
    flex-direction: row-reverse;
}

.card img {
    width: 30%;
    object-fit: cover;
}

.card-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text h2 {
    margin: 0 0 10px;
}

.card-text p {
    margin: 0;
}

.contenedor-card-principal{
    width:50em;    
    border-radius: 16px;
    border: 1px solid #28d6f1;
    grid-area: contenedor-card-principal;
    overflow: hidden;
}
.contenedor-card-principal img{
    width: 100%;
    height:15em;
    overflow: hidden;
    object-fit:cover;
}

.description{
    color: #1e1e1e;
    margin: 1em;
}

.aside-nota{
    width: 100%;
    padding: 3em;
}
.pie{
    display: flex;
    flex-wrap: wrap;
    background-color: #090a0a;
    color: #f0edede0;
    justify-content: space-around;
    align-items: center;
}

.btn-primario {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primario:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

.btn-wsp{
    width: 27px;
    bottom: 5px;
    right: 5px;
}

.description-blog{
    margin: 1em;
}

.description-blog a {
    color: #1e1e1e;
    text-decoration: none;
}

.description-blog a:hover {
    color: #3227cc;
    text-decoration: underline;
}

.excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box {
    border: 1px solid #ddd;
    width: 300px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px; 
    padding: 10px; 
    box-sizing: border-box;
}

.box img {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px; 
}

.box p {
    margin: 0;
    text-align: center; 
    margin-top: 10px; 
}

.box i {
    font-size: 36px;
    color: white; 
}

@media (min-width: 992px){
    .menu {
    position: absolute;
    right: 5px
    }
}

@media (max-width: 768px) {

    .title-primary{
        font-size: 5em;
    }
    .contenedor-card{
        width: 10em;
    }
    .contenedor-card img{
        height:10em;
    }
    .contenedor-card-principal{
        width:30em;    
    }
    .contenedor-card-principal img{
        height:10em;
    }
}

@media (max-width: 478px) {

    .title-primary{
        font-size: 5em;
    }
    .contenedor-card{
        width: 15em;
    }
    .contenedor-card img{
        height:10em;
    }
    .contenedor-card-principal{
        width:15em;    
    }
    .contenedor-card-principal img{
        height:10em;
    }
    .pie img{
        display: none;
    }
}