header {
    grid-area: header;
    .cont-menu{
        width: 100%;
        background-color: $color-menu-background;
        .w-img{
            @include padWid (5px,120px);
            height: 55.38px;
            transition-duration: 0.5s;
            transition-delay: 0s;
            &:hover {
                transform: scale(1.5);
            }
        }
        .menu{
            justify-content: space-evenly;
            width: 50%;
            &-current{
                text-decoration: underline;
                color: $color-text-menu;
            }
            &-other{
                text-decoration: none;
                color:$color-text-menu;
            }
            &:li{
                list-style: none;
            }
        }
    }
    .nav-p{
        justify-content: space-evenly;
    }
}





