@media (min-width: 992px){
    .menu {
    position: absolute;
    right: 5px
    }
}

@media (max-width: 768px) {

    .title-primary{
        font-size: map-get($my-font-sizes, md);
    }
    .contenedor-card{
        width: 10em;
    }
    .contenedor-card img{
        height:10em;
    }
    .contenedor-card-principal{
        width:30em;    
    }
    .contenedor-card-principal img{
        height:10em;
    }
}

@media (max-width: 478px) {

    .title-primary{
        font-size: map-get($my-font-sizes, md);
    }
    .contenedor-card{
        width: 15em;
    }
    .contenedor-card img{
        height:10em;
    }
    .contenedor-card-principal{
        width:15em;    
    }
    .contenedor-card-principal img{
        height:10em;
    }
    .pie img{
        display: none;
    }
}