@media (min-width: 992px){
    .menu {
        position: absolute;
        right: 5px
    }
}

@media (max-width: 768px) {
    .title-primary{
        font-size: map-get($my-font-sizes, md);
    }
    .contenedor-card{
        width: 10em;
            & img{
                height:10em;
            }
        &-card-principal{
            width:30em;
            & img{
                height:10em;
            }
        }
    }
}

@media (max-width: 478px) {

    .title-primary{
        font-size: map-get($my-font-sizes, md);
    }
    .contenedor-card{
        width: 15em;
        & img{
            height:10em;
        }
        &-card-principal{
            width:15em;    
            & img{
                height:10em;
            }
        }
    }
    footer img{
        display: none;
    }
}